/* Link and hover styles */

  .StaffListBox a {
    color: #088099;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
  }
  
  .StaffListBox a:hover {
    color: #088099;
    text-decoration: underline;
  }
  
  .StaffListBox a:focus {
    color: #088099;
    text-decoration: underline;
  }
